{% extends 'base.html' %}
{% block title %}
  Employee Register
{% endblock %}

{% block content %}

<div class="col-lg-6 offset-3">
  <div class="box">
    <h3 class="heading">New Account</h3>
    <p class="lead">Not our Resistered yet?</p>
    <p class="text-muted">If you have any questions, please feel free to <a href="#">Contact Us</a>
    our customer service center is working for you 24/7.</p>
    {% if form.error %}
      {% for field in form %}
        {% for error in field.error %}
          <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismissable="alert" aria-label="close">&times;</a>
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismissable="alert" aria-label="close">&times;</a>
            <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
  {% endif %}
  <form action="" method="post">
    {% csrf_token %}
    {% for field in form %}
      {% if field.name == 'gender' %}
        <div class="form-group">
          <label for="gender">Gender</label>
          <br>
          <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input " name="gender" id="male gender" value="male">
              <label for="male" class="form-check-label">Male</label>
          </div>
          <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input " name="gender" id="female gender" value="female">
              <label for="male" class="form-check-label">Female</label>
          </div>
        </div>
      {% else %}
        <div class="form-group">
          <label for="id_{{ field.name }}">{{ field.label }}</label>
          <input type="{{ field.field.widget.input_type }}"
                  name="{{ field.name }}"
                  id="id_{{ field.name }}"
                  class="form-control"
                  placeholder="{{ field.field.widget.attrs.placeholder }}">
        </div>
      {% endif %}
    {% endfor %}
    <div class="text-center">
      <button type="submit" class="btn btn-outline-white-primary"><i class="fa fa-user-md"></i>Register</button>
    </div>
  </form>
  </div>
</div>
{% endblock %}
